body {
  margin: 3px;
}

.settings {
  margin: 30px 10px 30px 10px;
  /* -webkit-app-region: no-drag; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-align: center;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#titlebar {
  color: #fff;
}

#titlebar #drag-region {
  -webkit-app-region: drag;
}

#window-title {
  text-align: center;
  overflow: hidden;
  font-family: 'SF Display Pro', sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.horizontal-slider .slider-track {
  top: 16px;
  height: 16px;
  background-color: rgb(51, 42, 245);
  border-radius: 24px;
}

.horizontal-slider .slider-thumb {
  top: 6px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: white;
  text-align: center;
  border-radius: 24px;
  font-family: 'SF Display Pro', sans-serif;
  font-size: 12px;
}
