:root {
  --default-text-color: #ffffff;
}

body {
  height: 100vh;
  margin: 0;
}

#app {
  height: 100vh;
}

.App {
  height: 100%;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.App header {
  grid-column: 1 / 4;
  color: var(--default-text-color);
}

.App .left-side {
  grid-column: 1 / 2;
}

.App main {
  grid-column: 2 / 3;
  display: grid;
  place-items: center;
}

.App .right-side {
  grid-column: 3 / 4;
}

.App footer {
  grid-column: 1 / 4;
  text-align: center;
  color: var(--default-text-color);
}

.settings {
  width: 60vw;
  max-width: 800px;
  margin: 30px 10px 30px 10px;
  /* -webkit-app-region: no-drag; */
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

#titlebar #drag-region {
  -webkit-app-region: drag;
}

#window-title {
  text-align: center;
  overflow: hidden;
  font-family: 'SF Display Pro', sans-serif;
  font-size: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.horizontal-slider .slider-track {
  top: 16px;
  height: 16px;
  background-color: rgb(51, 42, 245);
  border-radius: 24px;
}

.horizontal-slider .slider-thumb {
  top: 6px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: white;
  text-align: center;
  border-radius: 24px;
  font-family: 'SF Display Pro', sans-serif;
  font-size: 12px;
}

.ui-center-text {
  font-family: 'SF Display Pro', sans-serif;
  font-size: 12px;
  color: var(--default-text-color);
  text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
